<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServletAdmin</servlet-name>
        <servlet-class>com.loginServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServletPatient</servlet-name>
        <servlet-class>com.loginServletPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServletStaff</servlet-name>
        <servlet-class>com.loginServletStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServletPatient</servlet-name>
        <servlet-class>com.registerServletPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServletStaff</servlet-name>
        <servlet-class>com.registerServletStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServletAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServletPatient</servlet-name>
        <url-pattern>/LoginPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServletStaff</servlet-name>
        <url-pattern>/LoginStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServletPatient</servlet-name>
        <url-pattern>/RegisterPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServletStaff</servlet-name>
        <url-pattern>/RegisterStaff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
